{% extends "layout.html" %}

{% block maincontent %}


<div class="padding-y-4">
	<div class="grid-container">
		<div class="grid-row">
			<div class="grid-col-12">

				<h1>About</h1>
				<section class="padding-y-2">
					<h2>What is ableist language?</h2>
					<p>Ableist language is language that is offensive to people with disability. It can also refer to
						language that is derogatory, abusive or negative about disability. Ableism is the systemic
						exclusion and oppression of people with disability, often expressed and reinforced through
						language
						<a
							href="https://pwd.org.au/resources/disability-info/language-guide/ableist-language/">[source]</a>.
					</p>
				</section>
				<section class="padding-y-2">
					<h2>Why is this tool important?</h2>

					<p>
						Ableist language in job descriptions can cause people with disabilities to feel excluded from
						jobs that they are qualified for. This typically occurs when a description references <a
							href="https://www.onetonline.org/find/descriptor/browse/Abilities/" target="="
							_blank>abilities</a> or enduring attributes of an individual
						that are unnecessary for the job or for which <a href="https://askjan.org/">accommodations</a>
						can be proactively offered instead of focusing on developed
						<a href="https://www.onetonline.org/skills/">skills</a> that can be acquired to succeed
						in the role. By identifying ableist language and suggesting alternatives,
						this tool will support more inclusive hiring practices.
					</p>
				</section>

				<section class="padding-y-2">
					<h2>How does it work?</h2>
					<p>The tool uses a natural language dependency parser to search for verbs that are part of our <a
							href='https://github.com/USDepartmentofLabor/ableist-language-detector/blob/main/ableist_language_detector/ableist_word_list.csv'>ableist
							language lexicon</a>. This lexicon was developed through research on industry best practices
						as well as consultation with subject matter experts at DOL ODEP.</p>
					<p>For more information, see our <a
							href='https://github.com/usDepartmentofLabor/ableist-language-detector'>Github repo</a>.
				</section>

				<section class="padding-y-2">
					<h2>Who built this?</h2>
					<p>The language detection algorithm was built through a partnership between the <a
							href='https://presidentialinnovationfellows.gov/'>Presidential Innovation Fellows</a>, <a
							href='https://www.xd.gov/'>xD</a>, and <a href='https://www.dol.gov/agencies/odep'>DOL
							ODEP</a>. The web application was built by <a href='https://socialgood.hcs.harvard.edu/'>HCS
							T4SG</a>, with support from PIF, xD, and DOL ODEP. See below for more information on each
						organization.</p>
				</section>
				<section class="padding-y-1">
					<h3>About xD</h3>
					<p>
						<a href="https://www.xd.gov/">xD</a> is an emerging technologies group at the U.S. Census Bureau
						that partners with federal
						agencies and universities to improve the delivery of government services using artificial
						intelligence.
					</p>
				</section>

				<section class="padding-y-1">
					<h3>About The U.S. Department of Labor Office of Disability Employment Policy (ODEP)</h3>
					<p>
						The <a href="https://www.dol.gov/agencies/odep">Office of Disability Employment Policy
							(ODEP)</a> a is the only non-regulatory federal agency that
						promotes policies and coordinates with employers and all levels of government to increase
						workplace success for people with disabilities.
					</p>
				</section>

				<section class="padding-y-1">
					<h3>About Harvard Computer Society Tech For Social Good</h3>
					<p>
						<a href="https://socialgood.hcs.harvard.edu/">HCS Tech for Social Good</a> is a student group
						dedicated to empowering student leaders to leverage
						technology to tackle the world’s big problems. As the hub of social impact tech at Harvard,
						T4SG’s flagship program provides technical consulting services to nonprofits, government
						agencies, and social enterprises in order to amplify the work of social impact organizations and
						provide a space for students to get involved with and inspired by mission-driven tech work. T4SG
						also engages the community in social impact tech through programs, workshops, events, courses,
						and more.
					</p>
				</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}