{% extends "layout.html" %}

{% block maincontent %}
	<nav aria-label="Primary navigation" class="usa-nav left-margin">
        <div class="usa-nav__inner left-margin">
        <button class="usa-nav__close">
          <img src="/static/uswds-2.12.0/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
          <a href="/" class="usa-nav__link usa-current">
            <span>Home</span>
          </a>
          </li>
    
          <li class="usa-nav__primary-item">
          <a href="{{ url_for('about') }}" class="usa-nav__link">
            <span>About</span>
          </a>
          </li>
        </ul>
        </div>
        </div>
      </nav>
    </header>
	
	<div class="usa-section">
		<div class="grid-container">
			<h1>Find ableist language in your job posting</h1>
			
			<h2>
				How To Use This Tool
			</h2>
			<p class="line-height-sans-6 measure-6">
				Ableist language is language that is offensive to people with disability. This type of language in job descriptions can cause people with disabilities to feel excluded from jobs that they are qualified for. This tool checks job descriptions for ableist language and suggests alternative phrasing that supports more fair and inclusive hiring.
			</p>
			
			<div class="tablet:grid-col-8">
				<h2>Get Started</h2>
				<form class="form" action="{{ url_for('predict')}}" method="POST">
						<label class="usa-label" for="message"><p>
							Paste the job description into the textbox below.    
						</label>
						<textarea
							class="usa-textarea"
							id="message"
							name="message" 
							type="text"
							required
							aria-required="true"
							placeholder="We are looking for a candidate who exhibits..."
						></textarea>
					<input type="submit" class="usa-button margin-top-2" value="Check Job Description">
				</form>
			</div>
		</div>		
	</div>
{% endblock %}