{% extends "layout.html" %}

{% block maincontent %}

<div class="usa-section">
	<div class="grid-container">
    <section>
      <h1>Make Your Job Description Accessible</h1>
      <p>
        Ableist language is language that is offensive to people with disability. This type of language in job
        descriptions can cause people with disabilities to feel excluded from jobs that they are qualified for.
        This tool checks job descriptions for ableist language and suggests alternative phrasing that supports
        more fair and inclusive hiring.
      </p>
    </section>

		<section class="margin-top-4 tablet:grid-col-8">
      <h2 class="margin-bottom-0">Get Started</h2>
			<form class="form" action="{{ url_for('predict')}}" method="POST">
				<label class="usa-label margin-top-2 font-sans-xs" for="message">
					Paste your job description into the text box below.
				</label>
				<textarea class="usa-textarea maxw-none" id="message" name="message" type="text" required
					aria-required="true"></textarea>
				<input type="submit" class="usa-button margin-top-2" value="Check Job Description">
			</form>
		</section>
	</div>
</div>
{% endblock %}